@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

.advertisement{
	font-variant: small-caps;
	text-align: center;
}

header{
	font-variant: small-caps;
	text-align: center;
}

#a-slip-under-the-microscope blockquote p{
	text-align: center;
	text-indent: 0;
}

#filmer blockquote p{
	font-variant: small-caps;
	text-align: center;
	text-indent: 0;
}

.telegram{
	font-variant: all-small-caps;
}
